<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Users</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let department of departments">
        <td>{{ department.name }}</td>

        <td>
          <ul>
            <li *ngFor="let user of department.users">
              {{ user.name }} ({{ user.birthday | date : "yyyy-MM-dd" }})
            </li>
          </ul>
        </td>
        <td>
          <button (click)="onDeleteDepartment(department.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
