/* Alap stílusok */
.table-container {
  max-width: 800px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-top: 20px;
}

th,
td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}

thead th {
  background-color: #f0f0f0;
  font-weight: bold;
}

/* Felhasználók listája */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}
